body {
  background: #eeeeee;
}

canvas {
  background: #ffffff;
  display: block;
  width: 256px;
  height: 256px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}